﻿@model quotes_project.Models.ListadoModel

@{
    ViewData["Title"] = "Listado de Cotizaciones";
}

<h1 class="text-center">Cotizaciones</h1>

<div class="container-fluid justify-content-center align-items-center">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                @if (Model.Quotes == null || !Model.Quotes.Any())
                {
                    <p>No se encontraron cotizaciones en la base de datos.</p>
                }
                else
                {
                    <table class="table table-bordered table-striped text-center align-middle">
                        <thead>
                            <tr>
                                <th>No. de Cotización</th>
                                <th>Cliente</th>
                                <th>Tipo de Producto</th>
                                <th>Usuario</th>
                                <th>Monto</th>
                                <th>Fecha</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var quote in Model.Quotes)
                            {
                                <tr>
                                    <td class="align-middle">@quote.IdQuote</td>
                                    <td class="align-middle">@quote.Customer.CustomerName</td>
                                    <td class="align-middle">@quote.Product</td>
                                    <td class="align-middle">@quote.User</td>
                                    <td class="align-middle">@quote.Amount.ToString("F2")</td>
                                    <td class="align-middle">@quote.DDate.ToString("dd/MM/yyyy")</td>
                                    <td class="d-flex justify-content-center align-items-center">
                                        <a href="@Url.Action("Edit", "Cotizador", new { id = quote.IdQuote })" class="btn btn-primary btn-sm fixed-size-button">Editar</a>
                                        <a href="@Url.Action("Visualizer", "Cotizador", new { id = quote.IdQuote })" class="btn btn-success btn-sm fixed-size-button">Visualizar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/site.css">
<script src="~/js/listado.js"></script>